<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="courier" class="in.ineuron.comp.DTDC" />
	<bean id="bdart" class="in.ineuron.comp.BlueDart"  />
	<bean id="fFlight" class="in.ineuron.comp.FirstFlight" primary="true"/>

	<!-- Configuring the Target bean -->
	<bean id="fpkt" class="in.ineuron.comp.Flipkart" autowire="byName">
		<property name="discount" value="30" />
	</bean>

</beans>